html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 0.5px gray solid; */
}
body{
  background-color: #aef;
  line-height: 2;
  font-size: 1.5rem;
  font-family: 'Anton', sans-serif;
  color: #59a;
}
div{
  padding: 0.5rem;
  border-radius: 10px;
}
div~div{
  margin-top: 0.5rem;
}
textarea,button{
  border-style: none;
  border-radius: 10px;
  color:inherit;
  line-height: inherit;
  background-color: inherit;
  padding:0 0.3rem ;
}
textarea{
  width: 85%;
  max-height: 2.8rem;
  overflow: hidden;
}
textarea:hover{
  color: #aef;
  background-color: #59a;
  transition: 0.5s;
  transform:scaleY(1.1);
  max-height: 25vh;
  overflow-y: scroll;

}
textarea:focus{
  background-color: #dee;
}
button:hover{
  color: #dee;
  transform: rotate(360deg);
  transition: 1.2s;
}
.container{
  background-color: #dee;
  width: 40vw;
  height:90vh;
  margin: 5vh auto;
}
.note{
  height: 4rem;
  background-color: #aef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#todolist{
  max-height: 50vh;
  overflow: hidden;
}
#todolist::before{
  content: attr(id);
  font-size: 1rem;
}
#todolist:hover{
  overflow: scroll;
}
#finish{
  max-height: 30vh;
  overflow: hidden;
}
#finish::before{
  content: attr(id);
  font-size: 1rem;
}
#finish:hover{
  overflow: scroll;
}
