/*-- font-size --*/
.ft_20{
    font-size: 2rem;
}
.ft_15{
  font-size: 1.5rem;
}
.ft_10{
  font-size: 1rem;
}
.ft_08{
  font-size: 0.8rem;
}
.ft_05{
  font-size: 0.5rem;
}
/*-- font-weight --*/
.ft_bolder{
  font-weight: bolder;
}
.ft_lighter{
  font-weight:lighter;
}
/*-- font-color --*/
.ft_black{
  color: #111111;
}
.ft_white{
  color:#ffffff;
}
.ft_darkbrown{
  color: #966a04;
}
.ft_lightbrown{
  color:#bfa669;
}
.ft_grey{
  color:#7b7b7a;
}
/*-- fix bootstrap auto padding/margin --*/
.fixpadding{
  padding: 0;
}
.fixmargin{
  margin: 0;
}
/*-- flex --*/
.usingflex{
  display: flex;
  flex-flow: row wrap;
}
/*-- navbar --*/
.this_navbar{
  margin-right: -15px;
}
.this_navbar ul{
  justify-content: flex-end;
  align-items: flex-end;
}
.this_navbar li{
  padding-left: 1rem;
}
.this_navbar ul li a:hover:not(.active) {
    text-decoration: none;
}
.this_navbar ul li a.active {
  text-decoration: none;
}
