*{
  /* box-shadow: 0 0 1px red; */
}
main{
  background-image: url("../image/bg_wooden.png");
}


/*--  header  --*/
header{
  background-color: #241c18;
  justify-content: center;
  border-bottom: 1px solid white;
}
/*-- -- left block "Brand logo" -- --*/
.brand_mark img{
  width: 80%;
  height: auto;
  margin-top: 4ex;
  margin-bottom: 4ex;
}
@media (max-width:576px) {
  .brand_mark img{
    width: 100%;
    height: auto;
  }
}
/*-- -- right block "Navbar" -- --*/
header .this_navbar ul{
  width: 100%;
}
header .this_navbar ul li a:hover:not(.active) {
  background-color: #58514c;
  color: #bfa669;
}
header .this_navbar ul li a.active {
  color: #fec846;
}
@media (min-width:992px) {
  header .this_navbar{
    position: relative;
  }
  header .this_navbar ul{
    position: absolute;
    right:0;
    bottom:4ex;
    width: 80%;
    font-size: 0.8rem;
  }
  header .this_navbar ul li a:hover:not(.active) {
    background-color: #58514c;
    color: #bfa669;
  }
  header .this_navbar ul li a.active {
    color: #fec846;
  }
}
/*-- section  --*/
.content_block{
  background-color: #ffffff;
  box-shadow: inset 5px 0px 1px #241c18;
}
/*-- -- first layer left block "Chair" -- --*/
.content_block div img{
  width: 100%;
  height: auto;
}
.special_product .price{
  width:30%;
  position: absolute;
  bottom: 15px;
  right: 15px;
  justify-content: center;
  line-height: 2.5ex;
}
.price .detail{
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 5ex;
  background-size:100% 100% ;
  background-image: url(../image/bg_button_brown.png);
}
/*-- -- first layer right block "Product introduction"-- --*/
.product_intro{
  background-size:100% 100%;
  background-image: url(../image/bg_pattern.jpg);
}
.product_intro div{
  width: 90%;
  height: 90%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/*-- -- second layer "Room demo" -- --*/
.content_block .room_descrip{
  width: 100%;
  background-color: #4b3a34;
  background-image: url(../image/sepa_light.png);
  background-repeat: repeat-x;
  padding: 2ex;
}
.bedroom .room_descrip{
  background-color: #241c18;
  background-image: url(../image/sepa_dark.png);
  background-repeat: repeat-x;
}
/*-- -- third layer left block "Shop information" -- --*/
.shop_info{
  padding: 2ex 2rem;
  background-image: url(../image/sepa_light_vertical.png);
  background-repeat: repeat-y;
  background-position:right;
}
/*-- -- third layer right block "Blog form" -- --*/
.blogform .blog_title{
  margin: 2ex 2rem;
}
.blogform div{
  align-items: flex-start;
  justify-content:space-around;
  margin-bottom: 2ex;
}
.blog div{
  height: 155px;
  width: 50%;
}
.blog div img{
  height: 100%;
  width: 100%;
}
.bloginfo{
  background-color: #dddbd3;
  padding-top: 1ex;
}
.bloginfo a{
  text-decoration: none;
}
/*--  footer  --*/
footer{
  box-shadow: 5px 0px 5px #241c18;
  background-color: #e2b241;
  justify-content: center;
  border-top: 1px solid white;
}
footer div div{
  padding-top: 2ex;
}
/*-- --left block "Showroom"-- --*/
.left_footer img{
  width:90%;
}
.left_footer{
  background-image: url(../image/sepa_dark_vertical.png);
  background-repeat: repeat-y;
  background-position:right;
}
/*-- --middle block "Recent blog"-- --*/
.middle_footer{
  background-image: url(../image/sepa_dark_vertical.png);
  background-repeat: repeat-y;
  background-position:right;
}
footer .bg_time{
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url(../image/bg_time.png);
  background-repeat: no-repeat;
  background-position: center;
}
/*-- --right block "Contact us"-- --*/
.right_footer .signup{
  background-image: url(../image/sepa_dark.png);
  background-repeat: repeat-x;
  background-position: bottom;
}
/*-- -- --right block top part "Sign up"-- -- --*/
.signup form{
  padding: 1ex 0;
}
.signup .text{
  width: 100%;
  border-style: solid;
  border-color: #af8113;
  line-height: 4ex;
}
.signup .btn{
  width: 8em;
  height: 4.5ex;
  margin:1ex 0;
  background-size:100% 100%;
  justify-content: center;
  background-color: transparent;
  background-image: url(../image/bg_button_black.png);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
/*-- -- -- right block down part "Social network"-- -- --*/
.social a{
  padding-right: 1rem;
}
.social i:hover:not(.active) {
  color: #bfa669;
}
/*-- --bottom block-- --*/
.bottom_footer{
  margin: 2ex 0 0 0;
  background-image: url(../image/sepa_dark.png);
  background-repeat: repeat-x;
}
/*-- -- --bottom block right part "footer navbar"-- -- --*/
footer .this_navbar{
  height:5ex;
  position: relative;
}
footer .this_navbar ul{
  position: absolute;
  right:0;
  top:0;
}
footer .this_navbar ul li a:hover:not(.active) {
  color: #bfa669;
}
